   <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.m.reisandirvys.reisandirvys"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.1.0" />

        <name>Reis and Irvys</name>

        <description>
            A mobile application for the company's connection to the consumers.
        </description>

        <author href="http://m.reisandirvys.com" email="jraymund.niconi@gmail.com">
        Reis and Irvys
        </author>
    	<content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
		<preference name="Orientation" value="portrait" />
		<gap:plugin name="Contacts" value="org.apache.cordova.ContactManager" />
	  	<gap:plugin name="Accelerometer" value="org.apache.cordova.Accelerometer" />
	  	<gap:plugin name="nl.x-services.plugins.socialsharing" version="3.8" /
    </widget>
